/checkpoint_epoch_10.pth
/checkpoint_epoch_12.pth
/checkpoint_epoch_14.pth
/checkpoint_epoch_16.pth
/checkpoint_epoch_18.pth
/checkpoint_epoch_2.pth
/checkpoint_epoch_4.pth
/checkpoint_epoch_6.pth
/checkpoint_epoch_8.pth
/cleaned_image.jpg
*venv*
/wm-nowm
*__pycache__*